extends layout.pug

block content
    h1 Edit Book detail

    form(action=`/books/${book.id}`, method='POST')
        div
            label(for="title") Title:
            input(type="text", name="title" id="title" value=book.title)
        div
            label(for="author") Author:
            input(type="text", name="author" id="author" value=book.author)
        div
            label(for="genre") Genre:
            input(type="text", name="genre" id="genre" value=book.genre)
        div
            label(for="year") Year:
            input(type="text", name="year" id="year" value=book.year)
        input(type="submit" value="Update book")

    form(action=`/books/${book.id}/delete`, method='POST')
        input(type="submit" value="Delete book")