extends layout.pug

block content
  h1 #{title}
  h4 
    a(href='/books/new') Create New Book    

  table 
    tr 
      th Title
      th Author
      th Genre
      th Year
    each item in books
      tr 
        td 
          a(href=`/books/${item.dataValues.id}`) #{item.dataValues.title}
        td #{item.dataValues.author}
        td #{item.dataValues.genre}
        td #{item.dataValues.year}